<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecut.dao.StartChooseMapper" >
  <resultMap id="BaseResultMap" type="com.ecut.pojo.StartChoose" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from start_choose
    where id = #{id}
  </select>
  <select id="list" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from start_choose
    where 1=1
    <if test="id != null" >
    	and id = #{id},
    </if>
    <if test="status != null and ''!=status" >
        and status = #{status}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from start_choose
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.ecut.pojo.StartChoose" >
    insert into start_choose (id, status)
    values (#{id}, #{status})
  </insert>
  <insert id="insertSelective" parameterType="com.ecut.pojo.StartChoose" >
    insert into start_choose
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="status != null" >
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecut.pojo.StartChoose" >
    update start_choose
    <set >
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecut.pojo.StartChoose" >
    update start_choose
    set status = #{status}
    where id = #{id}
  </update>
</mapper>