<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecut.dao.StudentCourseMapper" >
  <resultMap id="BaseResultMap" type="com.ecut.pojo.StudentCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stu_number" property="stuNumber"/>
    <result column="cou_number" property="couNumber"/>
    <result column="choose_time" property="chooseTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, stu_number, cou_number, choose_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from student_course
    where id = #{id}
  </select>
  <select id="list" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_course
    where 1=1
    <if test="id != null" >
    	and id = #{id}
    </if>
    <if test="stuNumber != null" >
        and stu_number = #{stuNumber}
      </if>
      <if test="couNumber != null and '' != couNumber" >
        and cou_number = #{couNumber}
      </if>
      <if test="chooseTime != null" >
        and choose_time = #{chooseTime}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from student_course
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.ecut.pojo.StudentCourse" >
    insert into student_course (id, stu_number, cou_number, 
      choose_time)
    values (#{id}, #{stuNumber}, #{couNumber}, 
      #{chooseTime})
  </insert>
  <insert id="insertSelective" parameterType="com.ecut.pojo.StudentCourse" >
    insert into student_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuNumber != null" >
        stu_number,
      </if>
      <if test="couNumber != null" >
        cou_number,
      </if>
      <if test="chooseTime != null" >
        choose_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="stuNumber != null" >
        #{stuNumber},
      </if>
      <if test="couNumber != null" >
        #{couNumber},
      </if>
      <if test="chooseTime != null" >
        #{chooseTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecut.pojo.StudentCourse" >
    update student_course
    <set >
      <if test="stuNumber != null" >
        stu_number = #{stuNumber},
      </if>
      <if test="couNumber != null" >
        cou_number = #{couNumber},
      </if>
      <if test="chooseTime != null" >
        choose_time = #{chooseTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecut.pojo.StudentCourse" >
    update student_course
    set stu_number = #{stuNumber},
      cou_number = #{couNumber},
      choose_time = #{chooseTime}
    where id = #{id}
  </update>
</mapper>